# Python & virtual env
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
.env
.env.local

# Node / Frontend
node_modules/
dist_submission/
.turbo/


# Database & Datasets
*.db
*.sqlite
*.sqlite3
external_dataset/
data/lakehouse/bronze/
data/lakehouse/silver/

# OS files
.DS_Store
Thumbs.db

